<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Menú</title>
    <link rel="stylesheet" href="/static/css/stylemenu.css">
</head>
<body>
    <section class="menus-area" style="background-image: url('');">
        <div class="container">
            <div class="section-title">
                <h4> Menú</h4>
                
            </div>
            <div class="menus">
                <div class="menu-items">
                    
                    <div class="single-menu">
                        <span>$50</span>
                        <img src="img/food1.jpg" alt="">
                        <h4>Arepa de carne y pollo</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat delectus aliquam molestiae fugiat cupiditate natus!</p>
                        <a href="">ordena ahora</a>
                    </div>
                    <div class="single-menu">
                        <span>$50</span>
                        <img src="img/food2.jpg" alt="">
                        <h4>Arepa de choclo</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat delectus aliquam molestiae fugiat cupiditate natus!</p>
                        <a href="">ordena ahora</a>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="single-menu">
                        <span>$50</span>
                        <img src="img/food3.jpg" alt="">
                        <h4>Arepa con chorizo</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat delectus aliquam molestiae fugiat cupiditate natus!</p>
                        <a href="">ordena ahora</a>
                    </div>
                    <div class="single-menu">
                        <span>$50</span>
                        <img src="img/food4.jpg" alt="">
                        <h4>Arepa simple</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat delectus aliquam molestiae fugiat cupiditate natus!</p>
                        <a href="">ordena ahora</a>
                    </div>
                </div>
                <div class="menu-items">
                
                    <div class="single-menu">
                        <span>$50</span>
                        <img src="img/food5.jpg" alt="">
                        <h4>Arepa con todo</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat delectus aliquam molestiae fugiat cupiditate natus!</p>
                        <a href="">ordena ahora</a>
                    </div>
                    <div class="single-menu">
                        <span>$50</span>
                        <img src="img/food6.jpg" alt="">
                        <h4>Arepa con carne</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat delectus aliquam molestiae fugiat cupiditate natus!</p>
                        <a href="">ordena ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>